html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    font-family: 'Microsoft Sans Serif';
}

#top {
    width: 100%;
    height: 100px;
    background-color: orange;
}

#bottom {
    width: 100%;
    height: 1000px;
    background-color: rgb(7, 0, 60);
    color: white;
}
